<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <label>perspective : {{perspective}}px;</label>
        <input type="range" min="0" max="999" v-model="perspective"/>
        <br>
        <label>rotateX : {{rotateX}}deg;</label>
        <input type="range" min="-180" max="180" v-model="rotateX"/>
        <br>
        <label>rotateY : {{rotateY}}deg;</label>
        <input type="range" min="-180" max="180"v-model="rotateY"/>
        <br>
        <label>rotateZ : {{rotateZ}}deg;</label>
        <input type="range" min="-180" max="180"v-model="rotateZ"/>
        <br>
        <br>
        <button @click.prevent="reset">Reset</button>
        <button @click.prevent="copy">Copy</button>
        <br><br>
        <div class="box" :style="box"></div>
    
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>
</html>